$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$light-grey: hsl(0, 0%, 89%);
$grey: hsl(249, 13%, 80%);
$grayish-blue: hsl(246, 25%, 77%);
$white: hsl(0, 0%, 100%);
$placeholder: hsl(240, 1%, 47%);
$light-green: hsl(154, 64%, 68%);
$dark-green: hsl(154, 55%, 44%);
$shadow: hsla(0, 18%, 39%, 0.384);

//maps
$font-weights: (
	'regular': 400,
	'medium': 500,
	'semi-bold': 600,
	'bold': 700,
);
